<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		Hi <%= name %>, <br /><br />

		<p>Your login credentials</p>
		<br />

		<b>Phone :</b> <%= phone %> <br />
		<b>Password :</b> <%= password %> <br />

		<br /><br />
		Regards<br />
		Tech team
	</body>
</html>
