<!DOCTYPE html>

<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>

table,
table th,
table td{
	text-align: center;
}

</style>
<center><h1>Breeding Report</h1></center> <br>
</head>

<body>
<div class="container">
	<h4>Pregnant Animals</h4>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Date Of AI</th>
				<th>Animal Number</th>
				<th>Date Of Pregnancy Detection</th>
				<th>Bull No.</th>
				<th>Expected Month Of Delivery</th>
				<th>Status (Lactating/Dry)</th>
			</tr>
		</thead>
		<tbody>
			@foreach ($responseData['pregnant'] as $value)
			<tr>
				<td>{{ $value['date_of_AI'] }}</td>
				<td>{{ $value['animal_num'] }}</td>
				<td>{{ $value['date_of_pregnancy_detection'] }}</td>
				<td>{{ $value['bull_no'] }}</td>
				<td>{{ $value['expected_month_of_delevry'] }}</td>
				<td>{{ $value['status_milking_dry'] }}</td>

			</tr>
			@endforeach
		</tbody>
	</table>

    <h4>Non Pregnant Animals</h4>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Animal Number</th>
				<th>Date Of Last Delivery</th>
				<th>Date Of Last AI</th>
				<th>Bull No.</th>
				<th>Date Of Pregnancy Detection</th>
				<th>Status (Lactating/Dry)</th>
			</tr>
		</thead>
		<tbody>
			@foreach ($responseData['non_pregnant'] as $value)
			<tr>
				<td>{{ $value['animal_num'] }}</td>
				<td>{{ $value['date_of_last_delivery'] }}</td>
				<td>{{ $value['date_of_last_AI'] }}</td>
				<td>{{ $value['bull_no'] }}</td>
				<td>{{ $value['date_of_pregnancy_detection'] }}</td>
				<td>{{ $value['status_milking_dry'] }}</td>
			</tr>
			@endforeach
		</tbody>
	</table>
</div>

</body>

</html>